<meta charset="UTF-8">
<title><%= page.title ? `${page.title} | ` : '' %><%= site.title %></title>
<meta name="description" content="<%= page.description || site.description %>"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#157878">
<link rel="stylesheet" href="<%= site.basePath %>/assets/css/styles.css?v=<%= new Date().getTime() %>>">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
<script src="https://kit.fontawesome.com/1a44a5bf70.js" crossorigin="anonymous" async></script>
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/favicon/site.webmanifest">
