<!DOCTYPE html>
<html lang="en-US">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <main class="wrapper">
            <nav class="navigation center">
                <section class="container">
                    <a class="project-name navigation-title" href="<%= site.basePath %>/"><%= site.title %></a>
                    <ul class="list-style-none navigation-list">
                        <li class="list-item-style-none">
                            <a class="navigation-list-item"  href="<%= site.basePath %>/" aria-label="Home">
                                Home
                            </a>
                        </li>
                        <li class="list-item-style-none">
                            <a class="navigation-list-item" href="<%= site.basePath %>/contacts.html" aria-label="Home">
                                Contacts
                            </a>
                        </li>
                    </ul>
                </section>
            </nav>
            <section class="content">
                <div class="container center">
                    <div class="text-align-center">
                        <%- body %>
                    </div>
                </div>
            </section>
            <footer class="site-footer">

            </footer>
        </main>
</body>
</html>
